<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>controller.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDoctorController</servlet-name>
        <servlet-class>controller.addDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookAppController</servlet-name>
        <servlet-class>controller.bookAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAppointmentController</servlet-name>
        <servlet-class>controller.editAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDoctorController</servlet-name>
        <servlet-class>controller.editDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductController</servlet-name>
        <servlet-class>controller.editProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>controller.signUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDoctorController</servlet-name>
        <servlet-class>controller.viewDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDoctorDetailsController</servlet-name>
        <servlet-class>controller.viewDoctorDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDoctorController</servlet-name>
        <servlet-class>controller.deleteDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductController</servlet-name>
        <servlet-class>controller.deleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileController</servlet-name>
        <servlet-class>controller.editProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutControler</servlet-name>
        <servlet-class>controller.logoutControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartController</servlet-name>
        <servlet-class>controller.addtocartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout2Controller</servlet-name>
        <servlet-class>controller.checkout2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>controller.checkoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartController</servlet-name>
        <servlet-class>controller.deleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descriptionController</servlet-name>
        <servlet-class>controller.descriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCartController</servlet-name>
        <servlet-class>controller.viewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProductsController</servlet-name>
        <servlet-class>controller.viewProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myAppointmentController</servlet-name>
        <servlet-class>controller.myAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAdminProductsController</servlet-name>
        <servlet-class>controller.viewAdminProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrder</servlet-name>
        <servlet-class>controller.cancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController_admin</servlet-name>
        <servlet-class>controller.orderController_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailsController</servlet-name>
        <servlet-class>controller.orderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateToProcessing</servlet-name>
        <servlet-class>controller.updateToProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateToShipped</servlet-name>
        <servlet-class>controller.updateToShipped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPalService</servlet-name>
        <servlet-class>controller.PayPalService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDoctorController</servlet-name>
        <url-pattern>/addDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookAppController</servlet-name>
        <url-pattern>/bookAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAppointmentController</servlet-name>
        <url-pattern>/editAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDoctorController</servlet-name>
        <url-pattern>/editDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductController</servlet-name>
        <url-pattern>/editProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/signUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDoctorController</servlet-name>
        <url-pattern>/viewDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDoctorDetailsController</servlet-name>
        <url-pattern>/viewDoctorDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDoctorController</servlet-name>
        <url-pattern>/deleteDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductController</servlet-name>
        <url-pattern>/deleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileController</servlet-name>
        <url-pattern>/editProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutControler</servlet-name>
        <url-pattern>/logoutControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartController</servlet-name>
        <url-pattern>/addtocartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout2Controller</servlet-name>
        <url-pattern>/checkout2Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/checkoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartController</servlet-name>
        <url-pattern>/deleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descriptionController</servlet-name>
        <url-pattern>/descriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/orderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCartController</servlet-name>
        <url-pattern>/viewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductsController</servlet-name>
        <url-pattern>/viewProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myAppointmentController</servlet-name>
        <url-pattern>/myAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAdminProductsController</servlet-name>
        <url-pattern>/viewAdminProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrder</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController_admin</servlet-name>
        <url-pattern>/orderController_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailsController</servlet-name>
        <url-pattern>/orderDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateToProcessing</servlet-name>
        <url-pattern>/updateToProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateToShipped</servlet-name>
        <url-pattern>/updateToShipped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPalService</servlet-name>
        <url-pattern>/PayPalService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
